@import '~normalize.css';
@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
